.html, .body, .section, .nav, .nav_logo, .nav__menu, .nav__item, .nav__link, .hero, .hero__block, .hero__h1, .hero__h2, .hero__button, .hero__img, .container--absolute, .container--fluid, .section__figure, .section__img, .section__container, .section__header, .section__description, .section__card-list, .section__card-container, .section__card, .section__card-figure, .section__card-img, .section__card-caption, .section__card-description, .section__card-link, .fa-chevron-right, .address__text, .social-icons, .social-icons__link, .social-icons__icon, .form, .form__header, .form__container, .form__label, .form__input, .form__textarea, .form__button, .footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.html, .body {
  width: 100vw;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  overflow-x: hidden;
  background-color: #fff;
  opacity: 1;
  transition: opacity .8s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 100%;
}

@media (max-width: 1280px) {
  .html, .body {
    font-size: 95%;
  }
}

@media (max-width: 768px) {
  .html, .body {
    font-size: 90%;
  }
}

@media (max-width: 320px) {
  .html, .body {
    font-size: 85%;
  }
}

.body--fade-out {
  opacity: 0;
  background: #fff;
  transition: none;
}

.section {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .section {
    width: 100%;
  }
}

.nav {
  max-width: 1280px;
  height: 110px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  z-index: 10;
}

@media (max-width: calc(1280px + 200px)) {
  .nav {
    margin: 0 15vw 0 10vw;
  }
}

@media (max-width: 768px) {
  .nav {
    margin: 0 8vw 0 5vw;
  }
}

.nav__hamburger {
  display: none;
}

@media (max-width: 990px) {
  .nav__hamburger {
    display: inline-block;
    float: right;
    color: #fff;
    z-index: 10;
    font-size: 32px;
    margin: 46px 0 41px;
  }
}

@media (max-width: 450px) {
  .nav__hamburger {
    margin: 26px 0;
  }
}

.nav_logo {
  height: 30px;
  width: auto;
  margin: 52px 0;
}

@media (max-width: 450px) {
  .nav_logo {
    margin: 32px 0;
  }
}

.nav__menu {
  float: right;
  list-style-type: none;
  margin-top: 30px;
}

@media (max-width: 990px) {
  .nav__menu {
    width: 100vw;
    height: calc(100vh - 130px);
    background: #fff;
    position: absolute;
    float: none;
    margin: 0;
    left: -5vw;
    z-index: 10;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  }
}

.nav__item {
  display: inline-block;
  height: 80px;
}

@media (max-width: 990px) {
  .nav__item {
    width: 100%;
    background: #fff;
    height: 50px;
    text-align: center;
    display: block;
  }
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin: 0 1.7rem;
  transition: all .1s ease-in-out;
}

.nav__link:hover {
  opacity: .9;
}

@media (max-width: 990px) {
  .nav__link {
    width: 100%;
    background: #fff;
    padding-bottom: 10px;
    text-align: center;
    line-height: 50px;
    margin-left: 0;
    margin: 0;
    color: #5c7cc7;
    font-size: 1.1rem;
  }
}

.nav__link--border {
  padding: 16px 30px 15px;
  border: 2px solid #5c7cc7;
  border-radius: 30px;
  margin-right: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg2.jpg") no-repeat center;
  position: relative;
}

.hero__block {
  max-width: 1280px;
  margin: 0 auto;
  padding: 35vh 0 0;
}

@media (max-width: calc(1280px + 200px)) {
  .hero__block {
    margin: 0 10vw;
  }
}

@media (max-width: 768px) {
  .hero__block {
    margin: 0 5vw;
  }
}

@media (max-height: 700px) {
  .hero__block {
    padding: 25vh 0 0;
  }
}

.hero__block--icons {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 1280px) {
  .hero__block--icons {
    display: none;
  }
}

@media (max-height: 620px) {
  .hero__block--icons {
    display: none;
  }
}

.hero__h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 3.3rem;
  font-weight: 700;
  padding-right: 30px;
}

@media (max-width: 450px) {
  .hero__h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
}

@media (max-height: 535px) {
  .hero__h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.hero__h2 {
  font-size: 1.07rem;
  color: #72b2f2;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 10vh;
}

@media (max-width: 450px) {
  .hero__h2 {
    line-height: 2rem;
  }
}

.hero__button {
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: .8rem 1.95rem;
  display: inline-block;
}

@media (max-width: 768px) {
  .hero__button {
    margin-right: 300px;
  }
}

.hero__button--light {
  background: #6166ed;
  margin-right: 5px;
}

.hero__button--dark {
  background: #312e64;
}

@media (max-width: 768px) {
  .hero__button--dark {
    margin-top: 10px;
  }
}

.hero__img {
  height: 3.2rem;
}

.section--what-we-do {
  height: 100%;
}

.container--absolute {
  width: 1280px;
  margin: 0 auto;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
}

.container--fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
}

.container--fluid-centered {
  width: 1280px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
}

.container--fluid-col-5 {
  max-width: 687px;
  position: relative;
}

.container--fluid-col-10 {
  max-width: 1280px;
}

.container--with-margin {
  transform: translate(-50%, -22%);
  top: 22%;
  left: 50%;
}

.section__figure {
  margin: 112px 35px 0;
  max-width: calc(1200px / 2);
  max-height: calc(848px / 2);
}

.section__img {
  width: 100%;
}

.section__container {
  max-width: calc(1280px / 2 - 35px * 2);
  margin-top: 169px;
  text-align: center;
}

.section__header {
  font-size: 30px;
  font-weight: 700;
  color: #4b479e;
  margin-bottom: 61px;
}

.section__description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #333336;
}

.section__card-list {
  margin-top: 141px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: left;
}

.section__card-container {
  height: 457px;
  width: 268px;
  margin-bottom: 86px;
}

.section__card {
  margin: 0 auto;
  height: 457px;
  width: 268px;
  color: #161765;
  position: relative;
  box-shadow: 0 0 40px 1px #e9e9f0;
}

.section__card-figure {
  padding: 36px 35px 23px;
}

.section__card-img {
  margin-bottom: 41px;
  height: 130px;
}

.section__card-caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.section__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 35px;
}

.section__card-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  height: 54px;
  width: 100%;
  display: inline-block;
  color: #fff;
  background: #4b479e;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  transition: all .5s ease-in-out;
}

.section__card-link:hover {
  background: #161765;
}

.fa-chevron-right {
  color: #52e6c7;
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  vertical-align: middle;
}

.section--technology {
  min-height: 900px;
  background: #f0f0f0;
  width: 100vw;
  position: relative;
}

.section--technology-white {
  background: #fff;
}

.section__container--centered {
  margin: auto 0;
}

.section__figure--centered {
  margin: auto 0;
  max-height: 544px;
}

.section__img--heigth-corrected {
  max-height: 544px;
}

.section__description--small {
  padding-top: 47px;
  font-size: 14px;
}

.section--contact {
  height: 627px;
  background: url(../img/bg1.jpg) no-repeat right;
  width: 100vw;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

.address {
  padding-top: 81px;
}

.address__text {
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 68px;
}

.address__text--green {
  color: #7dbd6e;
}

.social-icons__link {
  text-decoration: none;
  color: #fff;
  cursor: default;
  width: 20px;
  margin-right: 31px;
  display: inline-block;
}

.social-icons__icon {
  font-size: 20px;
  cursor: pointer;
}

.social-icons__icon:hover {
  color: #7dbd6e;
}

.form {
  padding: 0 64px;
}

.form__header {
  font-size: 30px;
  font-weight: 600;
  text-transform: initial;
  margin-bottom: 46px;
}

.form__container {
  width: 330px;
  position: relative;
}

.form__label {
  width: 100%;
  margin-right: 25px;
  display: block;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  cursor: text;
  transition: all .5s ease-in-out;
  position: absolute;
  top: 0;
}

.form__label--textarea {
  position: static;
}

@keyframes autofill {
  to {
    color: #fff;
    background: inherit;
  }
}

.form__input {
  width: 100%;
  margin-right: 25px;
  display: block;
  background: inherit;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  margin-bottom: 46px;
  outline: none;
  height: 30px;
  padding: 0 0 5px;
  animation-name: autofill;
  animation-fill-mode: both;
}

.form__input:focus + .form__label {
  top: -15px;
  font-size: 12px;
}

.form__input:focus:valid {
  border-color: #7dbd6e;
}

.form__input:focus:invalid {
  border-color: red;
}

.form__input:not([value=""]) + .form__label {
  display: none;
}

.form__textarea {
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  overflow: auto;
  resize: none;
  color: #fff;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  outline: none;
  padding-top: 5px;
}

.form__textarea:focus:valid {
  border-color: #7dbd6e;
}

.form__textarea:focus:invalid {
  border-color: red;
}

.form__button {
  color: #7dbd6e;
  border: 1px solid #7dbd6e;
  border-radius: 27px;
  width: 224px;
  padding: 20px 0;
  background: inherit;
  position: absolute;
  right: 0;
  bottom: -100px;
  cursor: pointer;
}

.footer {
  max-width: 1280px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto 73px;
}
/*# sourceMappingURL=style.prefixed.css.map */