.html, .body, .section, .nav, .nav_logo, .nav__menu, .nav__item, .nav__link, .hero, .hero__block, .hero__h1, .hero__h2, .hero__button, .hero__img, .section__article, .section__figure, .section__img, .section__container, .section__header, .section__description, .section__card-list, .section__card-container, .section__card, .section__card-figure, .section__card-img, .section__card-caption, .section__card-description, .section__card-link, .fa-chevron-right {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html, .body {
  width: 100vw;
  text-size-adjust: none;
  overflow-x: hidden;
  background-color: #fff;
  opacity: 1;
  transition: opacity .8s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.body--fade-out {
  opacity: 0;
  background: #fff;
  transition: none;
}

.section {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .section {
    width: 100%;
  }
}

.nav {
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  z-index: 10;
}

.nav_logo {
  height: 30px;
  width: auto;
  margin: 52px 0;
}

.nav__menu {
  float: right;
  list-style-type: none;
  margin-top: 30px;
}

.nav__item {
  display: inline-block;
  height: 80px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin: 0 37px;
  transition: all .1s ease-in-out;
}

.nav__link:hover {
  opacity: .9;
}

.nav__link--border {
  padding: 16px 30px 15px;
  border: 2px solid #5c7cc7;
  border-radius: 30px;
  margin-right: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg2.jpg") no-repeat center right;
}

.hero__block {
  max-width: 1280px;
  margin: 0 auto;
  padding: 227px 0 0;
}

.hero__block--icons {
  list-style-type: none;
  padding: 80px 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hero__h1 {
  font-size: 56.54px;
  color: #fff;
  line-height: 67.85px;
  font-weight: 700;
}

.hero__h2 {
  font-size: 20px;
  color: #72b2f2;
  line-height: 70px;
  font-weight: 300;
  margin-bottom: 107px;
}

.hero__button {
  font-size: 18px;
  color: #fff;
  height: 49px;
  text-decoration: none;
  padding: 18px 35px;
}

.hero__button--light {
  background: #6166ed;
  margin-right: 11px;
}

.hero__button--dark {
  background: #312e64;
}

.hero__img {
  height: 64px;
}

.section--what-we-do {
  height: 100%;
}

.section__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1280px;
}

.section__figure {
  margin: 112px 35px 0;
  max-width: calc(1200px / 2);
  max-height: calc(848px / 2);
}

.section__img {
  width: 100%;
}

.section__container {
  max-width: calc(1280px / 2 - 35px * 2);
  margin-top: 169px;
  text-align: center;
}

.section__header {
  font-size: 30px;
  font-weight: 700;
  color: #4b479e;
  margin-bottom: 61px;
}

.section__description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #333336;
}

.section__card-list {
  margin-top: 141px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.section__card-container {
  height: 457px;
  width: 268px;
  margin-bottom: 86px;
}

.section__card {
  margin: 0 auto;
  height: 457px;
  width: 268px;
  color: #161765;
  position: relative;
  box-shadow: 0 0 40px 1px #e9e9f0;
}

.section__card-figure {
  padding: 36px 35px 23px;
}

.section__card-img {
  margin-bottom: 41px;
  height: 130px;
}

.section__card-caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.section__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 35px;
}

.section__card-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  height: 54px;
  width: 100%;
  display: inline-block;
  color: #fff;
  background: #4b479e;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  transition: all .5s ease-in-out;
}

.section__card-link:hover {
  background: #161765;
}

.fa-chevron-right {
  color: #52e6c7;
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  vertical-align: middle;
}

.section--technology {
  min-height: 900px;
  background: #f0f0f0;
  width: 100vw;
  position: relative;
}

.section--technology-white {
  background: #fff;
}

.section__article--centered {
  width: 1280px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
}

.section__container--centered {
  margin: auto 0;
}

.section__figure--centered {
  margin: auto 0;
  max-height: 544px;
}

.section__img--heigth-corrected {
  max-height: 544px;
}

.section__description--small {
  padding-top: 47px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */