// Reset for BEM independent components (instead of standard global CSS reset)
%reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

// * {
  // border: 1px solid red;
// }

// Color scheme
$white: #fff;
$blue--header: #72b2f2;
$blue--border: #5c7cc7;
$blue-light--button: #6166ed;
$blue-dark--button: #312e64; 
$blue-dark--text: #161765;
$black--text: #333336;
$violet: #4b479e;
$green: #7dbd6e;
$aquamarine: #52e6c7;
$shadow: #e9e9f0;
$gray: #f0f0f0;

// Breakpoints
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

.html, .body {
  @extend %reset;
  width: 100vw;
  text-size-adjust: none;
  overflow-x: hidden;
  background-color: #fff;
  opacity: 1;
  transition: opacity .8s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 100%;
  @media (max-width: $desktop-width) {
    font-size: 95%;
  }
  @media (max-width: $tablet-width) {
    font-size: 90%;
  }
  @media (max-width: $mobile-width) {
    font-size: 85%;
  }
}

.body--fade-out {
  opacity: 0;
	background: #fff;
	transition: none;
}

.section {
  @extend %reset;
  width: $desktop-width;
  margin: 0 auto;
  @media (max-width: $desktop-width) {
    width: 100%;
  }
}
