.hero {
  @extend %reset;
  width: 100vw;
  height: 100vh;
  background: url('../img/bg2.jpg') no-repeat center right;
}

.hero__block {
  @extend %reset;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 227px 0 0;
}

.hero__block--icons {
  list-style-type: none;
  padding: 80px 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hero__h1 {
  @extend %reset;
  font-size: 56.54px;
  color: $white;
  line-height: 67.85px;
  font-weight: 700;
}

.hero__h2 {
  @extend %reset;
  font-size: 20px;
  color: $blue--header;
  line-height: 70px;
  font-weight: 300;
  margin-bottom: 107px;
}

.hero__button {
  @extend %reset;
  font-size: 18px;
  color: $white;
  height: 49px;
  text-decoration: none;
  padding: 18px 35px;
}

.hero__button--light {
  background: $blue-light--button;
  margin-right: 11px;
}

.hero__button--dark {
  background: $blue-dark--button;
}

.hero__img {
  @extend %reset;
  height: 64px;
}