.hero {
  @extend %reset;
  width: 100vw;
  height: 100vh;
  background: url('../img/bg2.jpg') no-repeat center;
  position: relative;
  @media (min-height: 977px) {
    height: 977px;
  }
}

.hero__block {
  @extend %reset;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 35vh 0 0;
  @media (max-width: calc(#{$desktop-width} + 200px)) {
    margin: 0 10vw;
  }
  @media (max-width: 990px) {
    margin: 0 8vw;
  }
  @media (min-height: 900px) and (max-height: 976px) and (orientation: portrait) {
    padding: 55vh 0 0;
  }
  @media (min-height: 1050px) and (orientation: portrait) {
    padding: 35vh 0 0;
  }
  @media (max-height: 900px) and (orientation: landscape) {
    padding: 45vh 0 0;
  }
  @media (max-height: 700px) and (orientation: portrait) {
    padding: 25vh 0 0;
  }
}

.hero__block--icons {
  @extend %reset;
  max-width: $desktop-width;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
  @media (max-width: $desktop-width - 200px) {
    display: none;
  }
  @media (max-height: 620px) {
    display: none;
  }
}

.hero__h1 {
  @extend %reset;
  font-size: 3rem;
  color: $white;
  line-height: 3.3rem;
  font-weight: 700;
  padding-right: 30px;
  @media (max-width: 450px) {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  @media (max-height: 535px) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.hero__h2 {
  @extend %reset;
  font-size: 1.07rem;
  color: $blue--header;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 10vh;
  @media (max-width: 450px) {
    line-height: 2rem;
  }
}

.hero__button {
  @extend %reset;
  font-size: .9rem;
  font-weight: 600;
  color: $white;
  text-decoration: none;
  padding: .8rem 1.95rem;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  @media (max-width: $tablet-width) {
    margin-right: 300px;
  }
}

.hero__button--light {
  background: $blue-light--button;
  margin-right: 5px;
}

.hero__button--dark {
  background: $blue-dark--button;
  @media (max-width: $tablet-width) {
    margin-top: 10px;
  }
}

.hero__img {
  @extend %reset;
  height: 3.2rem;
}