.nav {
  @extend %reset;
  max-width: $desktop-width;
  height: 110px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  z-index: 10;
  @media (max-width: calc(#{$desktop-width} + 200px)) {
    margin: 0 10vw;
  }
  @media (max-width: 1136px) {
    margin-left: 10vw;
    margin-right: 8vw;
  }
  @media (max-width: 990px) {
    margin: 0 8vw;
  }
}

.nav__hamburger {
  display: none;
  @media (max-width: 990px) {
    display: inline-block;
    float: right;
    color: $white;
    z-index: 10;
    font-size: 32px;
    margin: 46px 0 41px;
  }
  @media (max-width: 450px) {
    margin: 26px 0;
  }
  @media (max-height: 830px) and (orientation: landscape) {
    margin: 26px 0;
  }
}

.nav_logo {
  @extend %reset;
  height: 30px;
  width: auto;
  margin: 52px 0; 
  @media (max-width: 450px) {
    margin: 32px 0;
  }
  @media (max-height: 830px) and (orientation: landscape) {
    margin: 32px 0;
  }
}

.nav__menu {
  @extend %reset;
  float: right;
  list-style-type: none;
  margin-top: 30px;
  @media (max-width: 990px) {
    display: none;
    width: 100%;
    height: calc(100vh - 130px);
    background: $white;
    position: absolute;
    float: none;
    margin: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 40px 1px $shadow;
  }
  @media (min-height: 830px) {
    height: calc(100vh - 230px);
  }
}

.nav__item {
  @extend %reset;
  display: inline-block;
  height: 80px;
  @media (max-width: 990px) {
    width: 100%;
    background: $white;
    height: 50px;
    text-align: center;
    display: block;
  }
}

.nav__link {
  @extend %reset;
  text-decoration: none;
  color: $white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin: 0 1.7rem;
  transition: all .1s ease-in-out;
  &:hover {
    opacity: .9;
  }
  @media (max-width: 990px) {
    width: 100%;
    background: $white;
    padding-bottom: 10px;
    text-align: center;
    line-height: 50px;
    margin-left: 0;
    margin: 0;
    color: $blue--border;
    font-size: 1.1rem;
  }
}

.nav__link--border {
  padding: 16px 30px 15px;
  border: 2px solid $blue--border;
  border-radius: 30px;
  margin-right: 0;
}