.section {
  @extend %reset;
  width: $desktop-width;
  margin: 0 auto;
  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.section--what-we-do {
  height: 1192px;
  @media (max-width: $desktop-width) {
    height: 100%;
  }
}

.section__article {
  @extend %reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  max-width: $desktop-width;
}

.section__figure {
  @extend %reset;
  margin: 112px 35px 0;
  max-width: calc(1200px / 2);
  max-height: calc(848px / 2);
}

.section__img {
  @extend %reset;
  width: 100%;
}

.section__container {
  @extend %reset;
  max-width: calc(#{$desktop-width} / 2 - 35px * 2);
  margin-top: 169px;
  text-align: center;
}

.section__header {
  @extend %reset;
  font-size: 30px;
  font-weight: 700;
  color: $violet;
  margin-bottom: 61px;
}

.section__description {
  @extend %reset;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: $black--text;
}

.section__card-list {
  @extend %reset;
  margin-top: 141px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.section__card-container {
  @extend %reset;
  // flex-basis: 25%; 
  height: 457px;
  width: 268px;
  margin-bottom: 86px;
  // @media (max-width: $desktop-width) {
    // flex-basis: 50%;
  // }
}

.section__card {
  @extend %reset;
  margin: 0 auto;
  height: 457px;
  width: 268px;
  color: $blue-dark--text;
  position: relative;
  box-shadow: 0 0 40px 1px $shadow;
}

.section__card-figure {
  @extend %reset;
  padding: 36px 35px 23px;
}

.section__card-img {
  @extend %reset;
  margin-bottom: 41px;
  height: 130px;
}

.section__card-caption {
  @extend %reset;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.section__card-description {
  @extend %reset;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 35px;
}

.section__card-link {
  @extend %reset;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  height: 54px;
  width: 100%;
  display: inline-block;
  color: $white;
  background: $violet;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  transition: all .5s ease-in-out;
  &:hover {
    background: $blue-dark--text;
  }
}

.fa-chevron-right {
  @extend %reset;
  color: $aquamarine;
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  vertical-align: middle;
}