.section--contact {
  height: 627px;
  background: url(../img/bg1.jpg) no-repeat right;
  width: 100vw;
  color: $white;
  position: relative;
  text-transform: uppercase;
}

.address {
  padding-top: 81px;
}

.address__text {
  @extend %reset;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 68px;
}

.address__text--green {
  color: $green;
}

.social-icons {
  @extend %reset;
}

.social-icons__link {
  @extend %reset;
  text-decoration: none;
  color: $white;
  cursor: default;
  width: 20px;
  margin-right: 31px;
  display: inline-block;
}

.social-icons__icon {
  @extend %reset;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: $green;
  }
}

.form {
  @extend %reset;
  padding: 0 64px;
}

.form__header {
  @extend %reset;
  font-size: 30px;
  font-weight: 600;
  text-transform: initial;
  margin-bottom: 46px;
}

.form__container {
  @extend %reset;
  width: 330px;
  position: relative;
}

.form__label {
  @extend %reset;
  width: 100%;
  margin-right: 25px;
  display: block;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  cursor: text;
  transition: all .5s ease-in-out;
  position: absolute;
  top: 0;
}

.form__label--textarea {
  position: static;
}

@keyframes autofill {
  to {
    color: $white;
    background: inherit;
  }
}

.form__input {
  @extend %reset;
  width: 100%;
  margin-right: 25px;
  display: block;
  background: inherit;
  border-bottom: 1px solid $white;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  margin-bottom: 46px;
  outline: none;
  height: 30px;
  padding: 0 0 5px;
  animation-name: autofill;
  animation-fill-mode: both;
  &:focus + .form__label {
    top: -15px;
    font-size: 12px;
  }
  &:focus:valid {
    border-color: $green;
  }
  &:focus:invalid {
    border-color: red;
  }
  &:not([value=""]) + .form__label {
    display: none;
  }
}

.form__textarea {
  @extend %reset;
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: 1px solid $white;
  overflow: auto; 
  resize: none;
  color: $white;
  font-size: 14px;
  font-family: 'Worksans', sans-serif;
  &:focus:valid {
    border-color: $green;
  }
  &:focus:invalid {
    border-color: red;
  }
}

.form__button {
  @extend %reset;
  color: $green;
  border: 1px solid $green;
  border-radius: 27px;
  width: 224px;
  padding: 20px 0;
  background: inherit;
  position: absolute;
  right: 0;
  bottom: -100px;
  cursor: pointer;
}

.footer {
  @extend %reset;
  max-width: $desktop-width;
  text-transform: uppercase;
  font-size: 12px;
  color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto 73px;
}