.section--technology {
  min-height: 900px;
  background: $gray;
  width: 100vw;
  position: relative;
}

.section--technology-white {
  background: $white;
}

.section__article--centered {
  width: $desktop-width;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
}

.section__container--centered {
  margin: auto 0;
}

.section__figure--centered {
  margin: auto 0;
  max-height: 544px;
}

.section__img--heigth-corrected {
  max-height: 544px;
}

.section__description--small {
  padding-top: 47px;
  font-size: 14px;
}